<h1> Edit: {{todo.description}} </h1>
<div>
<form method="POST" action="/todos/{{id}}?_method=PUT">
    <label for="description">Description</label>
    <input type="text" name="description" value="{{todo.description}}"></input>
</div>

<div>
    <label for='urgent'>Urgent: </label>
    <span>Yes</span><input type='radio' name='urgent' value='true' checked>
    <span>No</splan><input type='radio' name='urgent' value='false'>
    </div>
    <button>UPDATE TODO</button>
</form>