<h1>Create your own pirate!</h1>
<br>
<form method='POST' action='/pirates'>
    Name:<br> <input type="text" name="name">
    <br>
    Birthplace:<br> <input type="text" name="birthplace">
    <br>
    Year of Death:<br> <input type="text" name="death_year">
    <br>
    Base:<br> <input type="text" name="base">
    <br>
    Nickname:<br> <input type="text" name="nickname">
    <br>
    <br>
    <button>Submit</button>
</form>